body {
    margin: 0;
}

#app {
    margin: 0;
}

#top {
    background-color: transparent;
}

.top-button {
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid rgb(109, 109, 255);
    padding: 10px;
    border-radius: 9px;
    background-color: transparent;
    color: rgb(104, 106, 133);
    transition: 0.5s;
    transform: scale(1);
}

.top-button:hover {
    transform: scale(1.1);
    color: white;
    background-color: rgb(77, 77, 77);
    border: 0;
    box-shadow: 2px 2px 3px rgba(153, 153, 153, 0.4);
}

ul {
    list-style: none;
    display: flex;
}

#top {
    position: fixed;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(153, 153, 153, 0.3);
    z-index: 9999;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    backdrop-filter: blur(10px);
}

#chef {
    margin-left: 12px;
}

#fire {
    display: flex;
    margin-right: 18%;
    margin-left: 3%;
    z-index: 9999;
    color: transparent;
}

button {
    border: none;
    background: rgba(0, 0, 0, 0);
}

li button {
    margin: 30px;
}

#fore {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 600px;
    width: 100%;
    margin-top: 80px;
}    

#fore_name{
    margin-bottom: 0;
    margin-top: 0px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
}

#fore_text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: white;
    text-align: center;
}

button.menu-btn {
    display: none;
}

#about {
    margin-top: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    text-align: center;
    background-image: url(chef.svg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}

#about-desc {
    margin-right: 40px;
    margin-left: 40px;
    text-align: left;
}

#ceo {
    display: flex;
    margin: 20px;
    text-align: left;
    flex-basis: 60%;
    flex-direction: column-reverse;
    align-items: center;
}

#ceo-image {
    height: 200px;
    width: 220px;
    border-radius: 20px;
}

#mainpro, #chatsession {
    background-image: url(chef.svg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

#project {
    margin-left: 50px;
    margin-right: 50px;
}

#projectsvg {
    margin-top: 10px;
}

#pro {
    display: inline-block;
    margin-top: 100px;
    margin-left: 45%;
}

#project1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: rgb(106, 106, 106);
    border-radius: 20px;
    border: 1px solid rgb(175, 175, 175);
    padding: 10px;
    box-shadow: inset 3px 3px 4px rgba(153, 153, 153, 0.4);
    border-top: 0;
    border-left: 0;
}

#dlc {
    display: flex;
    flex-direction: row;
}

img#likeon {
    fill: red;
    opacity: .7;
}

form {
    margin-left: 20%;
    margin-bottom: 250px;
}

#midhead {
    margin-top: 100px;
    margin-left: 45%;
    margin-bottom: 10px;
}

#bbs {
    margin-top: 0;
    margin-left: 41%;
}

input, textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    margin-top: 3px;
    width: 50%;
    height: 40px;
    padding-left: 20px;
    border-radius: 20px;
    font-size: large;
    border: 0;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    color: #626262;
    box-shadow: inset 3px 3px 4px rgba(104, 103, 103, 0.4);
}

textarea {
    height: 150px;
    width: 70%;
    font-size: large;
    padding-top: 10px;
}

#h4 {
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 18px;
}

#submit {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    margin-left: 35%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #5e5e5e;
    color: white;
    border-radius: 10px;
    border: 0;
    box-shadow: 3px 3px 4px rgba(104, 103, 103, 0.4);
    transform: scale(1);
    transition: 0.5s;
}

#submit:hover {
    transform: scale(1.1) !important;
    background-color: white;
    color: #7d7d7d;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    font-weight: 200;
    font-size: 30px;
    border-bottom: 2px solid rgb(255, 232, 84);
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 22px;
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin-left: 10px;
    margin-right: 30px;
    font-size: 14px;
}

footer {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 100px;
    box-shadow: 2px -2px 3px rgba(55, 62, 255, 0.4);
}

#footsvg {
    margin: 10px;
    transition: 0.3s;
    transform: scale(1);
}

#footsvg:hover {
    transform: scale(1.2);
}

h4#tag {
    font-weight: 200;
    margin: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menubutton {
    display: none;
}

/*Menu section*/

#menu_section {
    background-image: url(chef.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#menu_list {
    margin-top: 100px;
    text-align: center;
}

#menu_h2 {
    margin-left: 45%;
}

div span h3 {
    text-align: center;
}

div span img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    transition: 0.5s;
    margin-top: 15px;
}

div span img:hover {
    box-shadow: 3px 3px 4px rgba(59, 59, 59, 0.5);
}

#pizza_images, #jollof_images, #chicken_images, #noodles_images, #fr_images, #salad_images {
    width: 90%;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    border: 1px solid rgb(255, 242, 147);
    padding: 5px;
    margin-top: 15px;
    margin-left: 5%;
    border-radius: 20px;
}

#pizza_images span, #jollof_images span, #chicken_images span, #noodles_images span, #fr_images span, #salad_images span {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

#gallery_text {
    display: inline-block;
    margin-left: 35%;
    margin-top: 100px;
}

/*the fire spinner*/

.spinner {
  margin-left: 4.17%; 
  margin-top: 4.6px; 
  margin-right: 30px; 
  width: 1.8em;
  height: 1.8em;
  position: absolute;
  cursor: not-allowed;
  border-radius: 50%;
  border: 2px solid #444;
  box-shadow: -10px -10px 10px #bbb7fb, 0px -10px 10px 0px #d9a8f9, 10px -10px 10px #f598b7, 10px 0 10px #f76c6c, 10px 10px 10px 0px#f98b54, 0 10px 10px 0px #f9b75b, -10px 10px 10px 0px #fccb4f;
  animation: rot55 0.7s linear infinite;
}

@keyframes rot55 {
    to {
      transform: rotate(360deg);
    }
  }

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    backdrop-filter: blur(8px); /* Add the blur effect */
    z-index: 9999; /* Make sure the background appears above other elements */
    display: none;
}

.popup {
    background-image: url(chef.svg);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 80%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10000; /* Make sure the popup appears above the background */
    display: none;
}

.popup.show {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.background.show {
    display: block;
}

#innerimg {
    width: 300px;
    height: 300px;
    border-radius: 32px;
}

#close {
    display: flex;
    margin-bottom: 16px;
    background-color: rgba(0, 0, 0, 0);
}

.pops {
    margin: 0;
}

#popdesc {
    font-size: 18px;
    font-weight: 200;
}

#orderbtn {
    font-size: 23px;
    margin-top: 25px;
    border: 1px solid #ff8181;
    border-radius: 20px;
    width: 200px;
    color: white;
    background-color: gold;
}

#currency {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    background-color: green;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    width: 85px;
    text-align: center;
    margin-left: 50px;
    font-size: 20px;
}

#underimg {
    display: flex;
    align-items: baseline;
}
  

@media (max-width: 750px) {

    #fore {
        margin-top: 0;
        margin-left: 0;
    }

    #menubutton {
        display: block;
        margin-left: 41%;
    }

    ul {
        display: none;
    }

    #about {
        margin-top: 30px;
    }

    #project {
        margin-left: 10px;
        margin-right: 10px;
    }

    #pro {
        margin-left: 37%;
        margin-top: 30px;
    }

    #bbs {
        margin-left: 10%;
    }

    form {
        margin-left: 10px;
        margin-bottom: 50px;
    }

    #midhead {
        margin-left: 25%;
        margin-top: 40px;
    }

    input, textarea {
        width: 80%;
    }

    .top-button {
        border: 0;
        color: #252525;
        font-weight: 300;
        font-size: 16px;
    }

    #top {
        position: relative;
    }

    nav#first-nav #menubutton {
        margin-top: 20px;
        display: block;
        border: 0;
        background-color: white;
        margin-bottom: 5px;
      }
  
      nav#first-nav #menubutton.open {
          padding: 0;
          width: 50px;
          height: 50px;
          transform: rotate(180deg);
          transition: all 0.3s ease;
      }
    
      nav#first-nav ul.show {
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: 0;
        background-color: rgba(219, 219, 255, 0.8);
        width: 100%;
        backdrop-filter: blur(10px);
        z-index: 1;
      }
    
      nav#first-nav ul.show li {
        margin-top: 5px;
        margin-bottom: 2px;
        text-align: center;
        z-index: 9999;
      }

      /*menu media queries*/
      #menu_list {
        margin-top: 30px;
      }

      #menu_h2 {
        margin-left: 35%;
        margin-top: 40px;
        margin-bottom: 10px;
      }

      .popup {
        width: 85%;
        height: 90%;
      }

      #gallery_text {
        margin-left: 15%;
      }

      .spinner {
        margin-left: 7%;
      }
}

@media (max-width: 288px) {
    #midhead {
        margin-left: 18%;
    }

    #bbs {
        margin-left: 3px;
    }

    #menu_list {
        margin-left: 13px;
    }

    #menu_h2 {
        margin-left: 75px;
    }
}